group AzureTackle
  storage: none
  source https://api.nuget.org/v3/index.json
  frameworks: netcoreapp3.1
  nuget FSharp.Core == 4.7.2
  nuget TaskBuilder.fs
  nuget WindowsAzure.Storage
group Test
  storage: none
  source https://api.nuget.org/v3/index.json
  nuget Expecto
  nuget WindowsAzure.Storage
group Docs
    source https://api.nuget.org/v3/index.json
    framework: net5.0
    nuget Feliz.Router
    nuget Zanaptak.TypedCssClasses
    nuget Fable.SimpleHttp
    nuget Feliz.ElmishComponents
    nuget Feliz.UseDeferred
    nuget Feliz.Popover
    nuget Feliz.Markdown
    nuget Feliz.Bulma
    nuget Chia.Client
