source https://api.nuget.org/v3/index.json
framework: net8.0
storage: none

nuget Fake.Core.Target
nuget Fake.DotNet.Cli
nuget Fake.Core.ReleaseNotes
nuget Fake.Tools.Git
nuget Fake.Core.UserInput
nuget Fake.DotNet
nuget Farmer

group AzureTackle
  storage: none
  source https://api.nuget.org/v3/index.json
  framework: net8.0
  nuget FSharp.Core
  nuget Azure.Data.Tables

group Test
  storage: none
  source https://api.nuget.org/v3/index.json
  framework: net8.0
  nuget Expecto
  nuget Azure.Data.Tables
  nuget Microsoft.Extensions.Configuration.Json

group Docs
    source https://api.nuget.org/v3/index.json
    framework: net8.0
    nuget Feliz.Router
    nuget Zanaptak.TypedCssClasses
    nuget Fable.SimpleHttp
    nuget Feliz.ElmishComponents
    nuget Feliz.UseDeferred
    nuget Feliz.Popover
    nuget Feliz.Markdown
    nuget Feliz.Bulma
